<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>

    <link rel="stylesheet" href="../../static/amis/sdk.css"/>
    <link rel="stylesheet" href="../../static/amis/cxd.css"/>
    <link rel="stylesheet" href="../../static/amis/helper.css"/>
</head>
<body class="pear-container">
<div id="root" class="app-wrapper"></div>
</body>
<script src="../../static/store.min.js"></script>
<script src="../../static/xe-utils.js"></script>
<script src="../../static/amis/sdk.js"></script>
<script src="../../static/amis/app.js"></script>
<script src="admin.js"></script>
</html>
