<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<link rel="stylesheet" href="../sdk/ang.css"/>
		<link rel="stylesheet" href="../sdk/sdk.css"/>
		<link rel="stylesheet" href="../sdk/cxd.css"/>
		<link rel="stylesheet" href="../sdk/helper.css"/>
		<script src="../env.js"></script>
	</head>
	<body class="pear-container">
		<div id="root" class="app-wrapper"></div>
	</body>
	<script src="../sdk/sdk.js"></script>

	<!--<script src="../lib/axios.min.js"></script>-->
	<!--<script type="module" src="../lib/very-axios.min.js"></script>-->
	<script src="../lib/easy.js"></script>
	<script src="../lib/store.min.js"></script>
	<script src="../lib/xe-utils.js"></script>
	<script src="../lib/app.js"></script>
	<script src="page.js"></script>
</html>
